@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Black Ops One', Times, serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 120vh;
  min-width: fit-content;
  

}

header {
    flex: 0 0 auto;
    height: 150px; 
    background-color: rgb(255, 172, 82);
    padding: 10px;
    z-index: 2;
    letter-spacing: 1px;
}

#header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

#left-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 400px;
}

#left-container h2, h3 {
  padding: 5px 0 5px 0;
}

#right-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  min-width: 400px;

}

#player-name{
  background-color: rgb(255, 172, 82, 40);
  border: none;
  font-size: large;
}



main {
    flex: 1 0 auto;
    height: 150px;
    background-color: #A58E5C;
}

/* footer {
    flex: 0 0 auto;
    height: 75px;
    background-color: rgb(26, 17, 9, 80);
} */

/* Style for the checkbox dropdown */
.multiselect {
  width: 200px;
  width: 300px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
  background-color: rgb(255, 172, 82);
  position: absolute;  
}

#checkboxes input {
  margin: 0 5px 0 5px;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}
/* End Checkbox */

#game-area {
  box-sizing: border-box;
  width: 85%;
  /* height: 65vh; */
  max-height: 450px;
  max-width: 830px;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
}

#game-area img {
  width: 100%;

}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #64e764;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}




/* Form/Answers Styling */

#question-area {
  border: none;
}

#hint-text {
  float: right;
  padding-right: 10px;
}

#answers-area {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
  flex-direction: column;
}

label {
  margin-right: 15px;
  line-height: 32px;
}

#answers-area input {
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 3px solid rgb(0, 0, 0);
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;
}

#answers-area input:checked {
  border: 6px solid black;
}

button,
legend {
  color: #ffffff;
  background-color: #402E32;
  padding: 5px 10px;
  border-radius: 0;
  border: 0;
  font-size: 14px;
  margin: 5px 0px 5px 0px;
  letter-spacing: 1px;
}

legend {
  font-size: larger;

}


#buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  color: black;
}

button:hover,
button:focus {
  color: #d4d0d0;
  border: 2px solid white;
}

button:active {
  background-color: white;
  color: black;
  outline: 1px solid black;
}

#btn-reset-game {
  margin-top: 20px;
}

.correct-answer {
  background-color: green;
}

.incorrect-answer {
  background-color: red;
}

.hidden {
  display: none;
}

/* Form Styling ^ */


/* Media queries */

/* For screen size 1200px wide and down */
@media screen and (max-width: 1200px){
}  

/* For medium screen sizes from 950px wide and down */

@media screen and (max-width: 950px) {
}


@media screen and (max-width:600px){

  #right-container {
    justify-content: flex-start; 
  }

  #game-area {
    width: 100%;
    padding: 10px;
  }
}