@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Black Ops One', Times, serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}

header {
    flex: 0 0 auto;
    height: 150px; 
    background-color: rgb(255, 172, 82);
}

main {
    flex: 1 0 auto;
    height: 150px;
    background-color: rgb(170, 116, 57);
}

/* footer {
    flex: 0 0 auto;
    height: 75px;
    background-color: rgb(26, 17, 9, 80);
} */

#game-area {
  box-sizing: border-box;
  width: 85%;
  /* height: 65vh; */
  max-height: 450px;
  max-width: 830px;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
}

#game-area img {
  width: 100%;

}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}




/* Form/Answers Styling */

#question-area {
  border: none;
}

#hint-text {
  float: right;
  padding-right: 10px;
}

#answers-area {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
  flex-direction: column;
}

label {
  margin-right: 15px;
  line-height: 32px;
}

input {
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 3px solid rgb(0, 0, 0);
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;
}

input:checked {
  border: 6px solid black;
}

button,
legend {
  color: white;
  background-color: black;
  padding: 5px 10px;
  border-radius: 0;
  border: 0;
  font-size: 14px;
}

/* Change between btn-check-answer & btn-start-game depending on game stage*/
#btn-start-game {
  display: none;
}

#buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: black;
}

button:hover,
button:focus {
  color: #999;
  transition-duration: 0.4s;
}

button:active {
  background-color: white;
  color: black;
  outline: 1px solid black;
}

/* Form Styling ^ */